# this has its own git instance, so shouldn't be added here
/mnr/

# vi temp files
.*.swp

# project temp files
*.temp*

# *.out* files, often too large for GitHub
*.out*

# compiled python bytecode, created while testing code syntax
__pycache__/
