/* CSS for Space Company game autorunner */

/* left sidebar of substances: */

.already_bumped {
    border: 2px solid orange;
}

.bump_my_max {
    border: 2px solid red;
}

/* right pane of clacks: */
.bump_max {
    background-color: pink;
}

.unknown_substance {
    background-color: lightgray;
}

.high_cost {
    background-color: yellow;
}

.high_rate {
    background-color: orange;
}

.click_me_maybe {
    background-color: #E0FFFF;      /* Light Cyan, per https://cssgradient.io */
}

.click_me {
    background-color: lightgreen;
}

.clicking {
    background-color: green;
}

.auto_request {
    background-color: red;
}

.no_button {
    background-color: lavender;
}


.energy-deficit {
    border: 5px solid red;
}

.energy-falling {
    border: 5px solid orange;
}

.energy-okay {
    border: 5px solid lightgreen;
}

button.destroy {
    color: red;
    background-color: red;
    width: 3em;
    overflow: hidden;
}
